.box1 {
  width: 500px;
  height: 300px;
  background-color: #ffa500;
  margin: 300px;
  padding: 300px;
  border-bottom: solid black;
  border-bottom-width: 5px;
}

.box2 {
  width: 100px;
  height: 100px;
  padding: 50px;
  margin: 25px;
  background-color: darkblue;
  border: solid black;
}
